# Site settings
title: SciTech
subtitle: "Science Automation Technologies"

markdown: kramdown
enable-mathjax: yes

permalink: /blog/:title/

# scholar
scholar:
  sort_by: author
  group_by: year
  group_order: descending
  type_order: [article, inproceedings, phdthesis, techreport]
  bibliography_template: bib
  reference_template: bib

# Collections
collections:
  research:
    output: true
    permalink: /research/:path/
  publications:
    output: true
    permalink: /publications/:path/

# Pagination
paginate: 8
paginate_path: /blog/page:num/

plugins:
  - jekyll-sitemap    # Adds sitemap to the website at /sitemap.xml
  - jekyll-feed       # Adds feed to the website at /feed.xml
  - jekyll-paginate   # Used for sorting posts by page numbers.
  - jekyll-seo-tag    # Adds all the important SEO meta tags by default.
  - jekyll-scholar

exclude:
  - .jekyll-cache
  - .idea
  - README.md
  - LICENSE
