---
layout: default
permalink: /
---

<!-- Main -->
<div id="main">

    <!-- Research Areas -->
    <div class="row">
        <article class="post">
            <div class="title">
                <h2>Our Research Areas</h2>
            </div>
            <div class="row" style="margin-bottom: 2em">
                <div class="col-sm-6 col-md-3">
                    <strong style="color: #57BE9D">Workflow Management Systems</strong> for Science
                </div>
                <div class="col-sm-6 col-md-3">
                    <strong style="color: #E95345">Machine Learning</strong> for Science
                </div>
                <div class="col-sm-6 col-md-3">
                    Enhancing <strong style="color: #0c5460">National Cyberinfrastructure</strong>
                </div>
                <div class="col-sm-6 col-md-3">
                    <strong style="color: #c69500">Modeling and Simulation</strong> of distributed computing systems
                </div>
            </div>
        </article>
    </div>

    <!-- News -->
    <div class="row">
        <article class="post">
            <header>
                <div class="title">
                    <h2>Recent News</h2>
                    <p>Seminars, Presentations, Research Outcomes...</p>
                </div>
            </header>

            {% include blogs.html %}

            <footer>
                <ul class="actions">
                    <li><a href="/blog" class="button large">See all News</a></li>
                </ul>
            </footer>
        </article>
    </div>

    <!-- Post -->
    <div class="row">
        <article class="post col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <header>
                <div class="title">
                    <h2>Recent Publications</h2>
                    <p>Featured Recent Journal Publications</p>
                </div>
            </header>

            <div class="publications">
                <div style="display: none">
                    {% cite papadimitriou-fgcs-2020 do2020jocs ferreiradasilva2020jocs deelman2020jocs %}
                </div>
                {% bibliography --cited_in_order --template bib-recent %}
            </div>

            <footer style="margin-top: 2em">
                <ul class="actions">
                    <li><a href="/publications" class="button large">See all publications</a></li>
                </ul>
            </footer>
        </article>

        <article class="post col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <header>
                <div class="title">
                    <h2>Research Projects</h2>
                    <p>Featured Research Projects</p>
                </div>
            </header>

            <div class="row">
                {% assign featured_projects = site.data.research_projects | where: 'featured', true %}
                {% for project in featured_projects %}
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    {% if project.website %}
                    <a class="featured-project" href="{{ project.website }}" target="_blank">
                        {% else %}
                        <a class="featured-project" href="/projects">
                            {% endif %}
                            <div class="logo">
                                {% if project.image %}
                                <img src="/images/projects/{{ project.image }}" alt="{{ project.title }}"/>
                                {% else %}
                                <img src="/images/projects/nologo.png" alt="{{ project.title }}"/>
                                {% endif %}
                            </div>
                            <div class="title"> {{ project.title }}</div>
                            <div class="description">
                                {{ project.description | truncatewords: 20 }}
                            </div>
                        </a>
                </div>
                {% endfor %}
            </div>

            <footer style="margin-top: 2em">
                <ul class="actions">
                    <li><a href="/projects" class="button large">See all projects</a></li>
                </ul>
            </footer>
        </article>
    </div>


    <!-- Post -->
    <!--    <article class="post">-->
    <!--        <header>-->
    <!--            <div class="title">-->
    <!--                <h2><a href="#">Elements</a></h2>-->
    <!--                <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>-->
    <!--            </div>-->
    <!--            <div class="meta">-->
    <!--                <time class="published" datetime="2015-10-18">October 18, 2015</time>-->
    <!--                <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt=""/></a>-->
    <!--            </div>-->
    <!--        </header>-->

    <!--        <section>-->
    <!--            <h3>Text</h3>-->
    <!--            <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is-->
    <!--                <em>emphasized</em>.-->
    <!--                This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.-->
    <!--                This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is-->
    <!--                    a link</a>.</p>-->
    <!--            <hr/>-->
    <!--            <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non-->
    <!--                faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan-->
    <!--                varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>-->
    <!--            <hr/>-->
    <!--            <h2>Heading Level 2</h2>-->
    <!--            <h3>Heading Level 3</h3>-->
    <!--            <h4>Heading Level 4</h4>-->
    <!--            <hr/>-->
    <!--            <h4>Blockquote</h4>-->
    <!--            <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod.-->
    <!--                Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac-->
    <!--                adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam-->
    <!--                adipiscing eu felis.-->
    <!--            </blockquote>-->
    <!--            <h4>Preformatted</h4>-->
    <!--            <pre><code>i = 0;-->

    <!--while (!deck.isInOrder()) {-->
    <!--print 'Iteration ' + i;-->
    <!--deck.shuffle();-->
    <!--i++;-->
    <!--}-->

    <!--print 'It took ' + i + ' iterations to sort the deck.';</code></pre>-->
    <!--        </section>-->

    <!--        <section>-->
    <!--            <h3>Lists</h3>-->
    <!--            <div class="row">-->
    <!--                <div class="col-6 col-12-medium">-->
    <!--                    <h4>Unordered</h4>-->
    <!--                    <ul>-->
    <!--                        <li>Dolor pulvinar etiam.</li>-->
    <!--                        <li>Sagittis adipiscing.</li>-->
    <!--                        <li>Felis enim feugiat.</li>-->
    <!--                    </ul>-->
    <!--                    <h4>Alternate</h4>-->
    <!--                    <ul class="alt">-->
    <!--                        <li>Dolor pulvinar etiam.</li>-->
    <!--                        <li>Sagittis adipiscing.</li>-->
    <!--                        <li>Felis enim feugiat.</li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--                <div class="col-6 col-12-medium">-->
    <!--                    <h4>Ordered</h4>-->
    <!--                    <ol>-->
    <!--                        <li>Dolor pulvinar etiam.</li>-->
    <!--                        <li>Etiam vel felis viverra.</li>-->
    <!--                        <li>Felis enim feugiat.</li>-->
    <!--                        <li>Dolor pulvinar etiam.</li>-->
    <!--                        <li>Etiam vel felis lorem.</li>-->
    <!--                        <li>Felis enim et feugiat.</li>-->
    <!--                    </ol>-->
    <!--                    <h4>Icons</h4>-->
    <!--                    <ul class="icons">-->
    <!--                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
    <!--                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
    <!--                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
    <!--                        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <h3>Actions</h3>-->
    <!--            <div class="row">-->
    <!--                <div class="col-6 col-12-medium">-->
    <!--                    <ul class="actions">-->
    <!--                        <li><a href="#" class="button">Default</a></li>-->
    <!--                        <li><a href="#" class="button">Default</a></li>-->
    <!--                        <li><a href="#" class="button">Default</a></li>-->
    <!--                    </ul>-->
    <!--                    <ul class="actions small">-->
    <!--                        <li><a href="#" class="button small">Small</a></li>-->
    <!--                        <li><a href="#" class="button small">Small</a></li>-->
    <!--                        <li><a href="#" class="button small">Small</a></li>-->
    <!--                    </ul>-->
    <!--                    <ul class="actions stacked">-->
    <!--                        <li><a href="#" class="button">Default</a></li>-->
    <!--                        <li><a href="#" class="button">Default</a></li>-->
    <!--                        <li><a href="#" class="button">Default</a></li>-->
    <!--                    </ul>-->
    <!--                    <ul class="actions stacked">-->
    <!--                        <li><a href="#" class="button small">Small</a></li>-->
    <!--                        <li><a href="#" class="button small">Small</a></li>-->
    <!--                        <li><a href="#" class="button small">Small</a></li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--                <div class="col-6 col-12-medium">-->
    <!--                    <ul class="actions stacked">-->
    <!--                        <li><a href="#" class="button fit">Default</a></li>-->
    <!--                        <li><a href="#" class="button fit">Default</a></li>-->
    <!--                    </ul>-->
    <!--                    <ul class="actions stacked">-->
    <!--                        <li><a href="#" class="button small fit">Small</a></li>-->
    <!--                        <li><a href="#" class="button small fit">Small</a></li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </section>-->

    <!--        <section>-->
    <!--            <h3>Table</h3>-->
    <!--            <h4>Default</h4>-->
    <!--            <div class="table-wrapper">-->
    <!--                <table>-->
    <!--                    <thead>-->
    <!--                    <tr>-->
    <!--                        <th>Name</th>-->
    <!--                        <th>Description</th>-->
    <!--                        <th>Price</th>-->
    <!--                    </tr>-->
    <!--                    </thead>-->
    <!--                    <tbody>-->
    <!--                    <tr>-->
    <!--                        <td>Item One</td>-->
    <!--                        <td>Ante turpis integer aliquet porttitor.</td>-->
    <!--                        <td>29.99</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Item Two</td>-->
    <!--                        <td>Vis ac commodo adipiscing arcu aliquet.</td>-->
    <!--                        <td>19.99</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Item Three</td>-->
    <!--                        <td> Morbi faucibus arcu accumsan lorem.</td>-->
    <!--                        <td>29.99</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Item Four</td>-->
    <!--                        <td>Vitae integer tempus condimentum.</td>-->
    <!--                        <td>19.99</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Item Five</td>-->
    <!--                        <td>Ante turpis integer aliquet porttitor.</td>-->
    <!--                        <td>29.99</td>-->
    <!--                    </tr>-->
    <!--                    </tbody>-->
    <!--                    <tfoot>-->
    <!--                    <tr>-->
    <!--                        <td colspan="2"></td>-->
    <!--                        <td>100.00</td>-->
    <!--                    </tr>-->
    <!--                    </tfoot>-->
    <!--                </table>-->
    <!--            </div>-->

    <!--            <h4>Alternate</h4>-->
    <!--            <div class="table-wrapper">-->
    <!--                <table class="alt">-->
    <!--                    <thead>-->
    <!--                    <tr>-->
    <!--                        <th>Name</th>-->
    <!--                        <th>Description</th>-->
    <!--                        <th>Price</th>-->
    <!--                    </tr>-->
    <!--                    </thead>-->
    <!--                    <tbody>-->
    <!--                    <tr>-->
    <!--                        <td>Item One</td>-->
    <!--                        <td>Ante turpis integer aliquet porttitor.</td>-->
    <!--                        <td>29.99</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Item Two</td>-->
    <!--                        <td>Vis ac commodo adipiscing arcu aliquet.</td>-->
    <!--                        <td>19.99</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Item Three</td>-->
    <!--                        <td> Morbi faucibus arcu accumsan lorem.</td>-->
    <!--                        <td>29.99</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Item Four</td>-->
    <!--                        <td>Vitae integer tempus condimentum.</td>-->
    <!--                        <td>19.99</td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Item Five</td>-->
    <!--                        <td>Ante turpis integer aliquet porttitor.</td>-->
    <!--                        <td>29.99</td>-->
    <!--                    </tr>-->
    <!--                    </tbody>-->
    <!--                    <tfoot>-->
    <!--                    <tr>-->
    <!--                        <td colspan="2"></td>-->
    <!--                        <td>100.00</td>-->
    <!--                    </tr>-->
    <!--                    </tfoot>-->
    <!--                </table>-->
    <!--            </div>-->
    <!--        </section>-->

    <!--        <section>-->
    <!--            <h3>Buttons</h3>-->
    <!--            <ul class="actions">-->
    <!--                <li><a href="#" class="button large">Large</a></li>-->
    <!--                <li><a href="#" class="button">Default</a></li>-->
    <!--                <li><a href="#" class="button small">Small</a></li>-->
    <!--            </ul>-->
    <!--            <ul class="actions fit">-->
    <!--                <li><a href="#" class="button fit">Fit</a></li>-->
    <!--                <li><a href="#" class="button fit">Fit</a></li>-->
    <!--                <li><a href="#" class="button fit">Fit</a></li>-->
    <!--            </ul>-->
    <!--            <ul class="actions fit small">-->
    <!--                <li><a href="#" class="button fit small">Fit + Small</a></li>-->
    <!--                <li><a href="#" class="button fit small">Fit + Small</a></li>-->
    <!--                <li><a href="#" class="button fit small">Fit + Small</a></li>-->
    <!--            </ul>-->
    <!--            <ul class="actions">-->
    <!--                <li><a href="#" class="button icon solid fa-download">Icon</a></li>-->
    <!--                <li><a href="#" class="button icon solid fa-upload">Icon</a></li>-->
    <!--                <li><a href="#" class="button icon solid fa-save">Icon</a></li>-->
    <!--            </ul>-->
    <!--            <ul class="actions">-->
    <!--                <li><span class="button disabled">Disabled</span></li>-->
    <!--                <li><span class="button disabled icon solid fa-download">Disabled</span></li>-->
    <!--            </ul>-->
    <!--        </section>-->

    <!--        <section>-->
    <!--            <h3>Form</h3>-->
    <!--            <form method="post" action="#">-->
    <!--                <div class="row gtr-uniform">-->
    <!--                    <div class="col-6 col-12-xsmall">-->
    <!--                        <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name"/>-->
    <!--                    </div>-->
    <!--                    <div class="col-6 col-12-xsmall">-->
    <!--                        <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email"/>-->
    <!--                    </div>-->
    <!--                    <div class="col-12">-->
    <!--                        <select name="demo-category" id="demo-category">-->
    <!--                            <option value="">- Category -</option>-->
    <!--                            <option value="1">Manufacturing</option>-->
    <!--                            <option value="1">Shipping</option>-->
    <!--                            <option value="1">Administration</option>-->
    <!--                            <option value="1">Human Resources</option>-->
    <!--                        </select>-->
    <!--                    </div>-->
    <!--                    <div class="col-4 col-12-small">-->
    <!--                        <input type="radio" id="demo-priority-low" name="demo-priority" checked>-->
    <!--                        <label for="demo-priority-low">Low</label>-->
    <!--                    </div>-->
    <!--                    <div class="col-4 col-12-small">-->
    <!--                        <input type="radio" id="demo-priority-normal" name="demo-priority">-->
    <!--                        <label for="demo-priority-normal">Normal</label>-->
    <!--                    </div>-->
    <!--                    <div class="col-4 col-12-small">-->
    <!--                        <input type="radio" id="demo-priority-high" name="demo-priority">-->
    <!--                        <label for="demo-priority-high">High</label>-->
    <!--                    </div>-->
    <!--                    <div class="col-6 col-12-small">-->
    <!--                        <input type="checkbox" id="demo-copy" name="demo-copy">-->
    <!--                        <label for="demo-copy">Email me a copy</label>-->
    <!--                    </div>-->
    <!--                    <div class="col-6 col-12-small">-->
    <!--                        <input type="checkbox" id="demo-human" name="demo-human" checked>-->
    <!--                        <label for="demo-human">Not a robot</label>-->
    <!--                    </div>-->
    <!--                    <div class="col-12">-->
    <!--                        <textarea name="demo-message" id="demo-message" placeholder="Enter your message"-->
    <!--                                  rows="6"></textarea>-->
    <!--                    </div>-->
    <!--                    <div class="col-12">-->
    <!--                        <ul class="actions">-->
    <!--                            <li><input type="submit" value="Send Message"/></li>-->
    <!--                            <li><input type="reset" value="Reset"/></li>-->
    <!--                        </ul>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </form>-->
    <!--        </section>-->

    <!--        <section>-->
    <!--            <h3>Image</h3>-->
    <!--            <h4>Fit</h4>-->
    <!--            <div class="box alt">-->
    <!--                <div class="row gtr-uniform">-->
    <!--                    <div class="col-12"><span class="image fit"><img src="images/pic02.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic04.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic05.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic06.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic06.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic04.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic05.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic05.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic06.jpg" alt=""/></span></div>-->
    <!--                    <div class="col-4"><span class="image fit"><img src="images/pic04.jpg" alt=""/></span></div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <h4>Left &amp; Right</h4>-->
    <!--            <p><span class="image left"><img src="images/pic07.jpg" alt=""/></span>Fringilla nisl. Donec accumsan-->
    <!--                interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in-->
    <!--                faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.-->
    <!--                Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum-->
    <!--                primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu-->
    <!--                faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis-->
    <!--                eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis-->
    <!--                iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis-->
    <!--                sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing-->
    <!--                eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit-->
    <!--                adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque-->
    <!--                praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus-->
    <!--                vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac-->
    <!--                pellentesque praesent.</p>-->
    <!--            <p><span class="image right"><img src="images/pic04.jpg" alt=""/></span>Fringilla nisl. Donec accumsan-->
    <!--                interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in-->
    <!--                faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.-->
    <!--                Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum-->
    <!--                primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu-->
    <!--                faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis-->
    <!--                eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis-->
    <!--                iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis-->
    <!--                sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing-->
    <!--                eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit-->
    <!--                adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque-->
    <!--                praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus-->
    <!--                vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac-->
    <!--                pellentesque praesent.</p>-->
    <!--        </section>-->

    <!--    </article>-->

    <!-- Pagination -->
    <!--    <ul class="actions pagination">-->
    <!--        <li><a href="" class="disabled button large previous">Previous Page</a></li>-->
    <!--        <li><a href="#" class="button large next">Next Page</a></li>-->
    <!--    </ul>-->

</div>
