---
layout: default
permalink: /
---

<!-- Main -->
<div id="main">

    <!-- Research Areas -->
    <div class="row">
        <article class="post">
            <div class="title">
                <h2>Our Research Areas</h2>
            </div>
            <div class="row" style="margin-bottom: 2em">
                <div class="col-sm-6 col-md-3">
                    <strong style="color: #57BE9D">Workflow Management Systems</strong> for Science
                </div>
                <div class="col-sm-6 col-md-3">
                    <strong style="color: #E95345">Machine Learning</strong> for Science
                </div>
                <div class="col-sm-6 col-md-3">
                    Enhancing <strong style="color: #0c5460">National Cyberinfrastructure</strong>
                </div>
                <div class="col-sm-6 col-md-3">
                    <strong style="color: #c69500">Modeling and Simulation</strong> of distributed computing systems
                </div>
            </div>
        </article>
    </div>

    <!-- News -->
    <div class="row">
        <article class="post">
            <header>
                <div class="title">
                    <h2>Recent News</h2>
                    <p>Seminars, Presentations, Research Outcomes...</p>
                </div>
            </header>

            {% include blogs.html %}

            <footer>
                <ul class="actions">
                    <li><a href="/blog" class="button large">See all News</a></li>
                </ul>
            </footer>
        </article>
    </div>

    <!-- Post -->
    <div class="row">
        <article class="post col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <header>
                <div class="title">
                    <h2>Recent Publications</h2>
                    <p>Featured Recent Journal Publications</p>
                </div>
            </header>

            <div class="publications">
                <div style="display: none">
                    {% cite brown2021reproducing papadimitriou-fgcs-2020 do2020jocs deelman2020jocs casanova2021jpdc %}
                </div>
                {% bibliography --cited_in_order --template bib-recent %}
            </div>

            <footer style="margin-top: 2em">
                <ul class="actions">
                    <li><a href="/publications" class="button large">See all publications</a></li>
                </ul>
            </footer>
        </article>

        <article class="post col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <header>
                <div class="title">
                    <h2>Research Projects</h2>
                    <p>Featured Research Projects</p>
                </div>
            </header>

            <div class="row">
                {% assign featured_projects = site.data.research_projects | where: 'featured', true %}
                {% for project in featured_projects %}
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    {% if project.website %}
                    <a class="featured-project" href="{{ project.website }}" target="_blank">
                        {% else %}
                        <a class="featured-project" href="/projects">
                            {% endif %}
                            <div class="logo">
                                {% if project.image %}
                                <img src="/images/projects/{{ project.image }}" alt="{{ project.title }}"/>
                                {% else %}
                                <img src="/images/projects/nologo.png" alt="{{ project.title }}"/>
                                {% endif %}
                            </div>
                            <div class="title"> {{ project.title }}</div>
                            <div class="description">
                                {{ project.description | truncatewords: 20 }}
                            </div>
                        </a>
                    </a>
                </div>
                {% endfor %}
            </div>

            <footer style="margin-top: 2em">
                <ul class="actions">
                    <li><a href="/projects" class="button large">See all projects</a></li>
                </ul>
            </footer>
        </article>
    </div>

</div>
