---
layout: default
title: People
permalink: /people
---

<div id="main">
    <article class="post">
        <header>
            <div class="title">
                <h2>People</h2>
                <p>Researchers, developers, staff, and students</p>
            </div>
        </header>

        <h3>Current Members</h3>

        {% assign members = site.data.people %}
        {% for p in members %}
        {% unless p.alumni %}
        <div class="member">
            {% if p.photo %}
            <img src="/images/people/{{ p.photo }}" alt="{{ p.name }}"/>
            {% else %}
            <img src="/images/people/nophoto.png" alt="{{ p.name }}"/>
            {% endif %}
            <div class="social">
                {%if p.website %}
                <a href="{{ p.website }}" target="_blank"><i class="fa fa-link"></i></a><br/>
                {% endif %}
                {%if p.email %}
                <a href="mailto:{{ p.email }}"><i class="fas fa-envelope"></i></a><br/>
                {% endif %}
                {%if p.linkedin %}
                <a href="{{ p.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a><br/>
                {% endif %}
                {% if p.twitter %}
                <a href="{{ p.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a><br/>
                {% endif %}
            </div>
            <div class="info">
                <div class="title">{{ p.name }}{% if p.degree %}, {{ p.degree}} {% endif %}</div>
                <div class="position">{{ p.position }}</div>
            </div>
        </div>
        {% endunless %}
        {% endfor %}

    </article>

    <article class="post">
        <header>
            <div class="title">
                <h3>Alumni</h3>
            </div>
        </header>
        {% assign alumni = site.data.people | where: 'alumni', true %}
        {% for p in alumni %}
        <div class="member">
            {% if p.photo %}
            <img src="/images/people/{{ p.photo }}" alt="{{ p.name }}"/>
            {% else %}
            <img src="/images/people/nophoto.png" alt="{{ p.name }}"/>
            {% endif %}
            <div class="social">
                {%if p.website %}
                <a href="{{ p.website }}" target="_blank"><i class="fa fa-link"></i></a><br/>
                {% endif %}
                {%if p.email %}
                <a href="mailto:{{ p.email }}"><i class="fas fa-envelope"></i></a><br/>
                {% endif %}
                {%if p.linkedin %}
                <a href="{{ p.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a><br/>
                {% endif %}
                {% if p.twitter %}
                <a href="{{ p.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a><br/>
                {% endif %}
            </div>
            <div class="info">
                <div class="title">{{ p.name }}{% if p.degree %}, {{ p.degree}} {% endif %}</div>
                <div class="position">{{ p.position }}</div>
            </div>
        </div>
        {% endfor %}
    </article>

    <article class="post">
        <header>
            <div class="title">
                <h3>Team Pictures Through the Years</h3>
            </div>
        </header>

        {% assign team_groups = site.data.team_pictures | group_by: "year" %}
        {% for tg in team_groups %}
        <h3 style="font-size: 1.2em; margin-top: 2em">{{ tg.items[0].year }}</h3>
        {% for p in tg.items %}
        <div style="font-size: 0.8em; line-height: 1.2em">
            <img src="/images/people/team/{{ p.photo }}" alt="SciTech Team {{ p.year }}" style="width: 90%"/>
            <br/>
            {{ p.description }}
        </div>
        {% endfor %}
        {% endfor %}
        <p>&nbsp;</p>
    </article>

</div>
