---
layout: default
title: Research Projects
permalink: /projects
---

<div id="main">
    <article class="post">
        <header>
            <div class="title">
                <h2>Research Projects</h2>
                <p>Current and Past Research Projects</p>
            </div>
        </header>

        <h3>Current Projects</h3>
        <br/>

        <div class="row">
            {% assign active_projects = site.data.research_projects | where: 'active', true %}
            {% for project in active_projects %}
            <div class="project">
                <div class="header"
                     {%if project.colors %}
                     style="background: rgba({{project.colors.r}}, {{project.colors.g}}, {{project.colors.b}}, 0.4)"
                     {% endif %}>
                    <div class="funding">
                        {{ project.funding }}
                        {% if project.award %}
                        {{ project.award }}
                        {% endif %}
                    </div>
                </div>
                <div class="logo">
                    {% if project.image %}
                    <img src="/images/projects/{{ project.image }}" alt="{{ project.title }}"/>
                    {% else %}
                    <img src="/images/projects/nologo.png" alt="{{ project.title }}"/>
                    {% endif %}
                </div>
                <div class="title">
                    {% if project.website %}
                    <a href="{{ project.website }}" target="_blank">{{ project.title }}</a>
                    {% else %}
                    {{ project.title }}
                    {% endif %}
                </div>
                <div class="description">
                    {{ project.description | truncatewords: 30 }}
                </div>
                <div class="social">
                    <ul>
                        {% if project.website %}
                        <li><a href="{{ project.website }}" target="_blank"><i class="fas fa-link"></i></a></li>
                        {% endif %}
                        {% if project.twitter %}
                        <li><a href="https://twitter.com/{{ project.twitter }}" target="_blank"><i
                                class="fab fa-twitter"></i></a></li>
                        {% endif %}
                        {% if project.youtube %}
                        <li><a href="{{ project.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>

        <p>&nbsp;</p>
        <h3>Past Projects</h3>
        <br/>

        {% assign past_projects = site.data.research_projects | where: 'active', false %}
        {% for project in past_projects %}
        <div class="past-project">
            <div class="logo">
                {% if project.image %}
                <img src="/images/projects/{{ project.image }}" alt="{{ project.title }}"/>
                {% else %}
                <img src="/images/projects/nologo.png" alt="{{ project.title }}"/>
                {% endif %}
            </div>
            <div class="title">
                {% if project.website %}
                <a href="{{ project.website }}" target="_blank">{{ project.title }}</a>
                {% else %}
                {{ project.title }}
                {% endif %}
            </div>
            <div class="content">
                {{ project.funding }}{% if project.award %} {{ project.award}}{% endif %} – {{ project.period }}<br/>
            </div>
        </div>
        {% endfor %}

        <p>&nbsp;</p>

    </article>
</div>