---
layout: default
title: Software
permalink: /software
---

<div id="main">
    <article class="post">
        <header>
            <div class="title">
                <h2>Software</h2>
                <p>Tools for Supporting Scientific Computing Research and Development</p>
            </div>
        </header>

        <div class="row">
            {% assign software = site.data.software %}
            {% for s in software %}
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="software">
                    <div class="logo">
                        {% if s.logo %}
                        <img src="/images/software/{{ s.logo }}" alt="{{ s.name }}"/>
                        {% else %}
                        <img src="/images/people/nophoto.png" alt="{{ s.name }}"/>
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="title">{{ s.name }}</div>
                        <div class="description">
                            {{ s.description }}
                        </div>
                    </div>
                    <div class="footer">
                        {% if s.website %}
                        <a class="label" href="{{ s.website }}" target="_blank"
                           style="background-color: #265B74; border-color: #265B74">
                            <span class="icon"><i class="fas fa-link"></i></span>
                            <span class="text">Website</span>
                        </a>&nbsp;&nbsp;
                        {% endif %}
                        {% if s.github %}
                        <a class="label" href="{{ s.github }}" target="_blank">
                            <span class="icon"><i class="fab fa-github"></i></span>
                            <span class="text">GitHub</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <p>&nbsp;</p>

    </article>
</div>
