<section id="footer">
<!--    <ul class="icons">-->
<!--        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--        <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>-->
<!--        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>-->
<!--    </ul>-->
    <p class="copyright">
        &copy;{{ site.time | date: '%Y' }} SciTech.
        <br/><br/>
        <a href="http://isi.edu" target="_blank" style="border: 0">
            <img src="/images/usc-isi-logo.png" style="width: 20em"/>
        </a>
        <br/>
        USC Information Sciences Institute<br/>
        <span style="text-transform: none">
            4676 Admiralty Way Suite 1001<br/>
            Marina del Rey, CA, 90292
        </span>
        <br/>
    </p>
</section>
