<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="/" class="logo"><img src="/images/scitech-logo-vertical.png" alt=""/></a>
        <header>
            <h2>Science Automation Technologies</h2>
            <p>USC Information Sciences Institute</p>
        </header>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>Our Vision</h2>
        <p>
            The SciTech research group aims to empower the <strong>scientific community</strong> by tightening the
            relations between the domain scientists and current computational resources. As a result, scientists can
            focus on their research questions, while our open-source tools provide the computational foundations to
            seamlessly run their experiments and analyses in local and <strong>distributed resources</strong>.
        </p>
    </section>

    <article class="mini-post" style="text-align: center">
        <a href="/research-symposium" style="display: block; margin-bottom: 0; border-bottom: 0">
            <img src="/images/research-symposium/ResearchSymposium_Logo_V2.png" style="width: 70%; margin: auto"/>
            <br/>
            <strong>May 12 and 13, 2021</strong>
            <br/><br/>
        </a>
    </article>

    <article class="mini-post" style="text-align: center; padding: 0">
        <h3>SciTech Core Values</h3><br/>
        <img src="/images/scitech-core-values.png" style="width: 100%; padding-top: 1em"/>
    </article>

    {% include footer.html %}

</section>
