---
---

<div class="bib">
    {% if entry.doi %}
    <a href="http://dx.doi.org/{{ entry.doi }}" target="_blank" style="color: #377E8C">
        <i class="fas fa-link"></i>
    </a>
    {% endif %}
    <a href="/files/publications/{{ entry.key }}.pdf" target="_blank" style="color: #c82333">
        <i class="far fa-file-pdf"></i>
    </a>
    {{ reference }}
    {% if entry.note %}
    ({{ entry.note }})
    {% endif %}
    <br/>
    <a data-toggle="collapse" href="#bib-{{ entry.key }}" role="button" aria-expanded="false"
       aria-controls="bib-{{ entry.key }}" style="color: #999">
        [BibTex]
    </a>

    <div class="collapse" id="bib-{{ entry.key }}">
{% highlight plain %}
{{ entry.bibtex }}
{% endhighlight %}
    </div>
</div>
